:root {
	--blue: #0088CC;
	--light-blue: #33aadd;
	--light-blue-border: #0088bb;
	--links: #666666;
	--links-hover: #FFFFFF;
}

body {
	font-family: sans-serif;
}

span.button {
	color: var(--blue);
	cursor: pointer;
	border: 1px solid var(--light-blue);
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 3px;
}

span.button:hover {
	color: var(--light-blue);
}

.break {
	flex-basis: 100%;
	height: 0;
}

.table {
	display: flex;
	width: 100%;
	flex-grow: 1;
	flex-direction: column;
}

.table > .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px;
	cursor: pointer;
	max-height: 42px;
	overflow: hidden;
}

	.button.delete {
		background-color: #f93e3e !important;
		color: #FFFFFF !important;	
		border: 1px solid #f93e3e !important;
		border-radius: 3px;
	}

	.table > .row > * {
		padding: 5px;
		margin: 5px;
	}

	input {
		min-height: 29px;
	}

	.table > .row > .type {
		font-size: 14px;
		font-weight: 700;
		min-width: 80px;
		max-width: 110px;
		text-align: center;
		padding: 6px 15px;
		border-radius: 3px;
		text-shadow: 0 1px 0 rgba(0,0,0,.1);
	}
		.table > .row > .type {
			color: #FFFFFF !important;
			border: 0px;
		}
		.table > .row > .type.POST {
			background-color: #49cc90 !important;
		}
		.table > .row > .type.REGISTER {
			background-color: #61affe !important;
		}
		.table > .row > .type.DOWNLOAD {
			background-color: #49cc90 !important;
		}
		.table > .row > .type.SEND {
			background-color: #61affe !important;
		}
		.table > .row > .type.PUT {
			background-color: #fca130 !important;
		}
		.table > .row > .type.VERIFY {
			background-color: #fca130 !important;
		}
		.table > .row > .type.GET {
			background-color: #49cc90 !important;
		}
		.table > .row > .type.OPTIONS {
			background-color: #0d5aa7 !important;
		}
		.table > .row > .type.UPDATE {
			background-color: #fca3ff !important;
		}
		.table > .row > .type.INFO {
			background-color: #fca3ff !important;
		}
		.table > .row > .type.DEPRECATED {
			background-color: #ebebeb !important;
		}
			.table > .row > .url.DEPRECATED {
				text-decoration: line-through;
				border: 0px;
			}
		.table > .row > .type.DELETE {
			background-color: #f93e3e !important;
		}
		.table > .row > .type.METHOD {
			background-color: #fBfBfB;
			color: #C2C2C2;
			text-transform: uppercase;
			border: 0px;
		}

	.table > .row > .url {
		font-size: 16px;
		font-family: monospace;
		padding: 0px 10px;
		font-weight: 600;
		color: #3b4151;
	}

	.table > .row > .short_desc {
		flex: 1 1 auto;
		font-size: 13px;
		font-family: sans-serif;
		color: #3b4151;
	}

	.table > .row {
		box-shadow: 0 0 3px rgba(0,0,0,.19);
		border-radius: 4px;
	}
	.table > .row.POST {
		background-color: rgba(73,204,144,.1) !important;
		border: 1px solid #49cc90 !important;
	}
	.table > .row.GET {
		background-color: rgba(73,204,144,.1) !important;
		border: 1px solid #49cc90 !important;
	}
	.table > .row.REGISTER {
		background-color: rgba(97,175,254,.1) !important;
		border: 1px solid #61affe !important;
	}
	.table > .row.DOWNLOAD {
		background-color: rgba(73,204,144,.1) !important;
		border: 1px solid #49cc90 !important;
	}
	.table > .row.PUT {
		background-color: rgba(252,161,48,.1) !important;
		border: 1px solid #fca130 !important;
	}
	.table > .row.VERIFY {
		background-color: rgba(252,161,48,.1) !important;
		border: 1px solid #fca130 !important;
	}

	.table > .row.GET {
		background-color: rgba(97,175,254,.1) !important;
		border: 1px solid #61affe !important;
	}
	.table > .row.SEND {
		background-color: rgba(97,175,254,.1) !important;
		border: 1px solid #61affe !important;
	}
	.table > .row.UPDATE {
		background-color: rgba(255,163,255,.1) !important;
		border: 1px solid #fca3ff !important;
	}
	.table > .row.INFO {
		background-color: rgba(255,163,255,.1) !important;
		border: 1px solid #fca3ff !important;
		box-shadow: 0 0 3px rgba(0,0,0,.19);
		border-radius: 4px;
	}
	.table > .row.OPTIONS {
		background-color: rgba(13,90,167,.1) !important;
		border: 1px solid #0d5aa7 !important;
	}
	.table > .row.DEPRECATED {
		background: hsla(0,0%,92.2%,.1) !important;
		border: 1px solid #ebebeb !important;
		opacity: .6;
	}
	.table > .row.DELETE {
		background-color: rgba(249,62,62,.1) !important;
		border: 1px solid #f93e3e !important;
	}
	.table > .row.METHOD {
		background-color: rgba(62,62,62,.1);
		border: 1px solid #C2C2C2;
	}

.authbutton {
	padding: 0px 10px;
	border: none;
	background: none;
}
.authbutton.unlocked {
	opacity: .4;
}

.row > .content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 0px;
	margin: 0px;
}

.row > .content > .parameters {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

	.row > .content > .parameters > h4 {
		flex-basis: 100%;

		background-color: #FFFFFF;
		padding: 20px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
		font-family: sans-serif;
		color: #3b4151;

		margin: 0px;
	}

	.row > .content > .parameters > .name {
		min-width: 120px;
		font-weight: 600;
		padding-left: 20px;
		padding-top: 20px;
	}

	.row > .content > .parameters > .description {
		padding-top: 20px;
	}

.row > .content > .parameters > .responses {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 20px;
	flex: 1 1 auto;
}

	.row > .content > .parameters > .responses > h4 {
		flex-basis: 100%;

		background-color: #FFFFFF;
		padding: 20px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 14px;
		font-family: sans-serif;
		color: #3b4151;

		margin: 0px;
	}

	.row > .content > .parameters > .responses > .code {
		min-width: 120px;
		font-weight: 600;
		padding-left: 20px;
		padding-top: 20px;
	}

	.row > .content > .parameters > .responses > .description {
		padding-top: 20px;
	}

	.description {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		padding: 20px;
	}
	.example {
		font-family: consolas;
		background-color: #3b4151;
		color: #FFFFFF;
		display: flex;
		flex-direction: column;
		flex: 1 1;
		flex-grow: 1;
		margin-bottom: 10px;
	}

	.example > pre {
		padding: 20px;
		margin: 0px;
	}
